Project1.vcxproj
Project1.vcxproj.user
sync.sh
*.o
*.so
src/lb_gateway/lb_gateway
src/lb_instance/mIDS/app
src/lb_core/common.bkp
*.swp
*app
*Enclave_t.*
*Enclave_u.*
*lb_edge_u.*
*lb_edge_t.*
*liblb*_t.a
*liblb*_u.a

TODO
*compile_commands.json
